*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'koulen', cursive;
}
body{
    background-color: #EFEBE0;
}

.nav{
    display: flex;
    background-color: #FB8DA0;
    width: 500px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.nav .navLink{
    margin-left: 10px;
    width: 60px;
}
.nav .navLink:hover{
    cursor: pointer;
    width: 60px;
    background-color: #FB8DA0;
}
.active{
    display: flex;
    margin-left: 10px;
    width: 80px;
    height: 45px;
    background-color: #FB6B90;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.nav a {
    color: #EFEBE0;
    text-decoration: none;
}

.myPic{
    margin-top: 5rem;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.indexH1{
    margin-top: 5px;
    font-size: 70px;
    color: #FB4570;
}
.container{
    
    width: 500px;
    height:50px;
    background-color: #FB8DA0;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.54);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.54);
    
}
.container:hover{
    cursor: pointer;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bigContainer{
    margin-top: 25px;
    
}
.music{
    width: 600;
    height: 400;
}
.container h1, h4, h6{
    color: white;
    letter-spacing: 3.5px;
}